@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  height: 100vh;
  background: #000000;
}

/* vvvvvv CSS GRID CUSTOMIZATION vvvvv */
.grid_container {
  display: grid;
  grid-template-columns: 0.2fr 1.2fr 0.5fr;
  grid-template-rows: 0.2fr 4fr 0.5fr 1.5fr;
  grid-gap: 0.5em;
  background: #000000;

  grid-template-areas:
    "header      header         header"
    "side_bar    main           library"
    "side_bar    description    library"
    "footer      footer         footer";

  height: 100vh;
  margin: 2em;
}

main {
  /* HOW TO USE GRID AREA */
  /* row start / column start / row end / column end */
  position: relative;
  grid-area: main;
  background: rgb(32, 32, 32);
  color: #bfff00;
  border-radius: 10px;
  outline-style: solid;
  outline-color: #bfff00;
  padding: 10px;
}

section {
  background: rgb(71, 71, 71);
  border-radius: 10px;
  outline-style: solid;
  outline-color: #bfff00;
  color: #bfff00;
  padding: 10px;
}

.next {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 0.5rem;
  border: 2px solid #bfff00;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

section.description {
  grid-area: description;
}

section.side_bar {
  grid-area: side_bar;
  padding-right: 30px;
  padding-top: 80px;
}

section.footer {
  grid-area: footer;
  color: white;
}

section.library {
  grid-area: library;
  color: white;
  overflow: auto;
}

header {
  grid-area: header;
  background: #000000;
  /*   border-radius: 10px; */
}

button {
  border-radius: 8px;
  color: black;
  background-color: #bfff00;
}

/* END OF GRID */

.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}
.search {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  min-height: 8vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgb(32, 32, 32);
}

input {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
}

.search_button {
  padding: 0.5rem 3rem;
  margin-left: 10px;
  background: #bfff00;
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
}

.talk_btn {
  padding: 0.5rem 0.5rem;
  margin-left: 10px;
  background: #bfff00;
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
}

.gallery {
  width: 90%;
  margin: 15px 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

.gallery img {
  margin-left: 5px;
  max-height: 300px;
  max-width: 200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

:fullscreen img {
  max-height: 600px;
  max-width: 400px;
}

:fullscreen p {
  display: none;
}

:fullscreen button {
  display: none;
}

.library_gallery {
  width: 90%;
  margin: 15px 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  background-color: rgb(71, 71, 71);
  font-size: 0.5rem;
}

.library_gallery img {
  margin-left: 5px;
  height: 75px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/* NAVBAR ICONS */

.fa-book {
  color: #bfff00;
  font-size: 24px;
}

.fa-question-circle {
  color: #bfff00;
  font-size: 24px;
}

.fa-user {
  color: #bfff00;
  font-size: 24px;
}

.fa-user-plus {
  color: #bfff00;
  font-size: 24px;
}

.fa-home {
  color: #bfff00;
  font-size: 24px;
}

li {
  color: rgb(71, 71, 71);
  align-items: center;
}

a {
  color: #67aaec;
  text-decoration: none;
  align-items: center;
}

a:hover {
  color: #bfff00;
}

.modal-content {
  color: black;
}
